.container {
  background: var(--gray_03);
  padding: 38px 0;
}
.title {
  text-align: center;
  font-size: 18px;
  line-height: 21.09px;
  color: var(--black_01);
}

.content {
  text-align: center;
  padding: 18px;
  font-size: 16px;
  line-height: 18.75px;
  max-width: 972px;
  margin: 0 auto;
}