:root {
  --background: #191718;
  --gray_01: #AAAAAA;
  --gray_02: #5C5C5C;
  --white: #FFFFFF;
  --gray_03: #EFEFEF;
  --sidebar-width: 150px;
  --black_01: #000000;
  --gray_03: #DEDEDE;
  --container-width: 1510px;
  --container-pd: 129px;
  --tablet-width: 991px;
  --mobile-width: 576px;
}

$mobile-width: 768px;
$tablet-width: 991px;
$tablet-width-xl: 1200px;